<ion-header>
  <ion-toolbar>
    <ion-button slot="start"> 
      <ion-back-button></ion-back-button>
          </ion-button>

    <ion-title>Declaracion mensual</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label> numero de ventas</ion-label>
      <ion-input> </ion-input>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item>
      <ion-label> monto en ventas</ion-label>
      <ion-input> </ion-input>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item>
      <ion-label> numero de compras</ion-label>
      <ion-input> </ion-input>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item>
      <ion-label> monto en compras </ion-label>
      <ion-input> </ion-input>
    </ion-item>
  </ion-list>

  <ion-button routerLink="/pagina3">
    Calcular
  </ion-button>


</ion-content>
