<ion-header>
  <ion-toolbar>
      
    <ion-button slot="start"> 
      <ion-back-button></ion-back-button>
          </ion-button>
  
          <ion-title>Registro de personas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-label> nombre</ion-label>
      <ion-input> </ion-input>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label> nit </ion-label>
      <ion-input> </ion-input>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label> direccion </ion-label>
      <ion-input> </ion-input>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label> ciudad </ion-label>
      <ion-input> </ion-input>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label> Rubro </ion-label>
      <ion-input> </ion-input>
    </ion-item>
  </ion-list>

  <ion-item-divider>
    <ion-button size="large" (click)="onPagina1()"> Registrar a persona </ion-button>
  </ion-item-divider>
</ion-content>
